<div class="bg-gray-200 h-full min-h-screen flex flex-col items-center justify-start">
  <!-- Logo Section -->
  <div class="flex justify-center items-center p-4">
    <i class="fa-brands fa-angular fa-8x"></i>
  </div>
  <!-- Content Section -->
  <div class="flex items-stretch justify-center p-16 w-full gap-8">
      <!-- Card 1 -->
      <div class="text-center">
        <h1 class="font-medium text-slate-900 text-xl">Old</h1>
        <h1 class="font-medium text-slate-900 text-xl">Old
          
        </h1>
        <div class="bg-white p-6 rounded-lg shadow-lg flex-1 text-center h-full">
          <h2 class="font-medium text-slate-900 text-xl">Using Classic Breakpoints</h2>
          <p class="text-slate-600 mt-2">This is the first card description.</p>
        </div>
      </div>

      <!-- Card 2 -->
      <div>
        <h1 class="font-medium text-slate-900 text-xl">New</h1>
      <div class="bg-white p-6 rounded-lg shadow-lg flex-1 text-center h-full">
          <h2 class="font-medium text-slate-900 text-xl">Using Fluid for Tailwind</h2>
          <p class="text-slate-600 mt-2">This is the second card description.</p>
      </div>
      </div>
  </div>
</div>
